<footer class="wrapper style1 align-center test-border">
	<div class="inner">
		<ul class="icons">
			<li>&copy; {{ site.title }} 2018</li>
			<li> {{ site.address }} </li>
			<li><a href="/about">About</a></li>
			<li><a href="{{ site.twitter }}">Twitter</a></li>
			<li><a href="{{ site.facebook }}">Facebook</a></li>
			<li><a href="{{ site.github }}">GitHub</a></li>
		</ul>
	</div >
</footer>


<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>